*{padding: 0; margin: 0;}

body{
    color: rgb(239, 239, 239);
    background-color: rgb(55, 55, 55);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Nunito", serif;
    font-size: medium;
    max-width: 1920px;
    margin: auto;
}

a{
    text-decoration: none;
}

.header{
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    height: 70px;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(50, 50, 50);
    width: 100%;
    z-index: 2;
}

.main{
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.link-logo{
    width: 10%;
}

.img-logo{
   width: 22%;
   height: 10%;
   margin-left: 5%;
   margin-top: 7%;
   transform: rotate(-3deg);
}

.vmeste{
    text-decoration: none;
    color: rgb(244, 244, 244);
    margin-left: -7%;
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
}

.form {
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 45%;
    width: 30%;
    opacity: 0;
    transition: .5s;
    z-index: 2;
}

.group {
    display: flex;
    align-items: center;
    line-height: 28px;
    position: relative;
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.input {
    width: 450px;
    height: 38px;
    line-height: 30px;
    font-size: 16px;
    padding: 0 1rem;
    padding-left: 1rem;
    padding-left: 2.5rem;
    border: #efeeee 1px solid;
    caret-color: rgb(147, 55, 234);
    border-radius: 4px;
    outline: none;
    background-color: rgb(55, 55, 55);
    color: #ebebeb;
    transition: 0.3s all;
}

.link-menu{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: rgb(244, 244, 244);
    margin-left: 3.3%;
    font-size: 20px;
    transition: .2s;
}

.link-menu:hover{
    color: rgb(202, 202, 202);
}

.ul-menu{
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    width: 32%;
    height: 70px;
    margin-left: 40%;
    transition: .5s;
    z-index: 2;
}

.ul-menu li{
    padding-left: 6%;
    order: 0;
}

#broadcasts{
    transition: .3s;
}

#broadcasts:hover{
    transform: translateX(-80%);
    background: rgb(50, 50, 50);
    padding-left: 7%;
    z-index: 2;
}

#main{
    color: rgb(195, 0, 255);
}

.user-btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 2%;
    margin-left: 3%;
    cursor: pointer;
    z-index: 2;
}

.search{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 1.6%;
    margin-left: 72.5%;
    border-radius: 7px;
    background-color: rgb(50, 50, 50);
    -webkit-box-shadow: -16px 0px 8px -3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -16px 0px 8px -3px rgba(34, 60, 80, 0.2);
    box-shadow: -16px 0px 8px -3px rgba(34, 60, 80, 0.2);
    cursor: pointer;
    z-index: 2;
}

.user{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(50, 50, 50);
    width: 13%;
    height: 400%;
    padding-left: 1%;
    border-radius: 8px;
    margin-top: 21%;
    margin-left: 82%;
    animation-name: menu;
    animation-duration: 700ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: menuUser;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    display: none;
    z-index: 1;
}

@keyframes menu {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
}

.wrap{
    margin-top: 5%;
    margin-left: 15%;
}

.links{
    margin-top: 5%;
}

.Your-account{
    margin-left: 3.5%;
    margin-top: -5%;
}

.theme-h3{
    display: inline;
    margin-left: 3.5%;
    cursor: pointer;
}

.theme{
    background: transparent;
    text-decoration: none;
    border: none;
    font-size: 20px;
    margin-left: 5px;
    color: rgb(116, 189, 253);
    cursor: pointer;
}

.theme:hover {
    text-decoration: underline;
}

.logo-social{
    position: absolute;
    width: 75%;
    margin-left: -72%;
    margin-top: 2%;
}

.registration-main {
    position: relative;
    margin-left: 52%;
    margin-top: 5%;
    animation-name: reg;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: registration;
    animation-delay: 0s;
    z-index: 4;
}

.welcome {
    font-size: 40px;
    margin-left: 1.5%;
    margin-bottom: 5%;
}

.description {
    font-size: 15px;
    margin-left: 1.5%;
    margin-top: -4%;
    color: #bebebe;
}

.reg {
    position: absolute;
    z-index: 2;
    margin-top: 2%;
}
  
#usernameField-username {
    display: block;
    width: 330px;
    height: 50px;
    background-color: #292929;
    border-radius: 10px;
    border: 2px solid #292929;
    padding: 0px 12px;
    outline: none;
    caret-color: rgb(152, 88, 255);
    color: rgb(212, 212, 212);
    font-size: 15px;
    transition-duration: .2s;
}
  
#usernameField-username:focus,
#usernameField-username:valid {
    border: 2px solid rgb(152, 88, 255);
    transition-duration: .2s;
}

#usernameField-password {
    display: block;
    width: 330px;
    height: 50px;
    background-color: #292929;
    border-radius: 10px;
    border: 2px solid #292929;
    padding: 0px 12px;
    outline: none;
    margin-top: 6%;
    caret-color: rgb(152, 88, 255);
    color: rgb(212, 212, 212);
    font-size: 15px;
    transition-duration: .2s;
}
  
#usernameField-password:focus,
#usernameField-password:valid {
    border: 2px solid rgb(152, 88, 255);
    transition-duration: .2s;
}

button {
    --fancy-button-gradient-0: #8d49fd;
    --fancy-button-gradient-50: #7f56f3;
    --fancy-button-gradient-100: #5691f3;
    --fancy-button-inner-shadow-top: rgba(233, 209, 255, 0.2);
    --fancy-button-inner-shadow-top-lg: rgba(9, 12, 60, 0.1);
    --fancy-button-inner-shadow-bottom: rgba(137, 222, 246, 0.3);
    --fancy-button-shine-top: #e9d1ff;
    --fancy-button-shine-bottom: #adfff9;
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 15px;
    background-image: linear-gradient(
    var(--fancy-button-gradient-0) 0%,
    var(--fancy-button-gradient-50) 50%,
    var(--fancy-button-gradient-100) 100%
    );
    background-size: 400%;
    margin-top: 22%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button-login{
    margin-left: 2%;
}